.footer{
    height: 60px;
    min-width: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
}
p{
    position: absolute;
    text-align: center;
    color: white;
    padding: 17px;
}
